# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
*.egg-info/

# Data & checkpoints (대용량)
data/*
!data/.gitkeep
checkpoints/
runs/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Notebooks
.ipynb_checkpoints/

# etc
.csv